doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/all.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    block content
    script(
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
      integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
      crossorigin="anonymous"
    )
    script(src='/javascripts/bootstrap.min.js')
